set_io clock_12 35
set_io LED0 26
set_io LED1 21

set_io VGA_CK 38
set_io VGA_DE 32
set_io VGA_HS 31
set_io VGA_VS 28
set_io VGA_B[3] 43
set_io VGA_B[2] 42
set_io VGA_B[1] 36
set_io VGA_B[0] 34
set_io VGA_G[3] 47
set_io VGA_G[2] 46
set_io VGA_G[1] 45
set_io VGA_G[0] 44
set_io VGA_R[3] 4
set_io VGA_R[2] 3
set_io VGA_R[1] 2
set_io VGA_R[0] 48

set_io slave_clk 15
set_io slave_mosi 14
set_io slave_miso 17
set_io slave_cs_n 11

set_io btn 10
